plugins:
  - jekyll-relative-links
  - jekyll-sitemap
  - jekyll-seo-tag
relative_links:
  enabled: true
  collections: true

theme: jekyll-theme-architect
title: Kraken Stress Testing Toolkit
description: Документация - Kraken Stress Testing Toolkit


sass:
  sass_dir: _sass
  style: compressed

permalink:   /:categories/:title/
markdown:    kramdown
highlighter: rouge

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  enable_coderay: false

exclude: ["README.md"]